{% extends 'email_app/base/base.html' %}
{% block title %}
    <title>Email Send</title>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="shadow p-5">
            <h3 class="" style="margin-left: 20px; margin-top: -30px;">Add Filter</h3>
            <hr>
            <form action="" method="post" class="mt-3">
                <div id="my_form">
                    <div class="row_">
                        <select class="select_col" name="age_col" style="margin-left: 210px;width:120px; height: 30px;">
                            <option value=""></option>
                            <option value="Age">Age</option>
                            <option value="Country">Country</option>
                            <option value="State">State</option>
                            <option value="City">City</option>
                            <option value="Email">Email</option>
                        </select>

                        <select name="age_eql" style="margin-left: 50px; height: 30px;">
                            <option value=""></option>
                            <option value="is">is</option>
                            <option value="is_more_than">is more than</option>
                            <option value="is_less_than">is more than</option>
                        </select>

                        <input type="number" name="age_value" style="margin-left: 50px; height: 30px;">
                        <input type="button" name="" style="margin-left: 50px;font-size:20px;" value="+"
                               onclick="add_div();">

                    </div>

                    {#            <div class="row_ mt-5">#}
                    {#                <select name="country_op" style="margin-left: 50px">#}
                    {#                    <option value="and">and</option>#}
                    {#                    <option value="or">or</option>#}
                    {#                </select>#}
                    {#                <select class="select_col" name="age_col" style="margin-left: 50px">#}
                    {#                    <option value="Country">Country</option>#}
                    {#                    <option value="State">State</option>#}
                    {#                    <option value="City">City</option>#}
                    {#                    <option value="Email">Email</option>#}
                    {#                </select>#}
                    {#                <select class="eql" name="eql" style="margin-left: 50px;margin-right: 50px">#}
                    {#                    <option value="is">is</option>#}
                    {#                    <option value="is_not">is not</option>#}
                    {#                </select>#}
                    {##}
                    {#                <select class="country_input" name="cars">#}
                    {#                    {% for foo in country %}#}
                    {#                        <option value="{{ foo.name }}">{{ foo.name }}</option>#}
                    {#                    {% endfor %}#}
                    {##}
                    {#                </select>#}
                    {#                <input type="button" id="" name="" style="margin-left: 50px;font-size:20px;" value="+"#}
                    {#                       onclick="add_div();">#}
                    {#                <input class="remove" type="button" id="" name="" style="margin-left: 50px;font-size:20px;" value="-"#}
                    {#                       onclick="remove_div(this);">#}
                    {#            </div>#}
                </div>

                <div class="d-flex justify-content-center">
                    <button type="submit"
                            class="btn btn-primary mb-5 mt-5 ms-5 me-5" style="width: 96%;">
                        Submit
                    </button>
                </div>
            </form>
        </div>


    </div>

    {% block javascript %}
        <script>
            function select_col() {
                let select_cols = document.querySelectorAll('.select_col')
                select_cols.forEach((select_col) => {
                    console.log(select_col)
                    select_col.addEventListener('change', updateValue);

                    function updateValue() {
                        if (select_col.value === "Age") {
                            console.log("age")
                            console.log(select_col.parentElement.nodeName)
                            select_col.previousElementSibling.setAttribute('name', 'age_op')
                            select_col.setAttribute('name', 'age_col')
                            select_col.nextElementSibling.setAttribute('name', 'country_eql')
                            select_col.nextElementSibling.nextElementSibling.setAttribute('name', 'age_value')

                            select_col.innerHTML = `
                                <option value="Age" selected>Age</option>
                                <option value="Country" >Country</option>
                                <option value="State">State</option>
                                <option value="City">City</option>
                                <option value="Email">Email</option>

                        `
                            if (select_col.nextElementSibling.value === "is") {
                                select_col.nextElementSibling.innerHTML = `
                                <option value="is" selected>is</option>
                                <option value="is_not">is not</option>
                                `
                            }


                        }

                        if (select_col.value === "Country") {
                            console.log("country")


                            select_col.innerHTML = `
                                <option value="Age" >Age</option>
                                <option value="Country" selected>Country</option>
                                <option value="State">State</option>
                                <option value="City">City</option>
                                <option value="Email">Email</option>

                        `
                            {#let next = select_col.nextElementSibling#}
                            select_col.previousElementSibling.innerHTML = `
                                <option value="and" selected>And</option>
                                 <option value="or">Or</option>
                            `
                            let next = select_col.nextElementSibling
                            console.log(next)
                            next.innerHTML = `
                                 <option value="is" selected>is</option>
                                 <option value="is_not">is not</option>
                            `
                            let t = ""
                            t += `
                                {% for foo in country %}
                                    <option value="{{ foo.name }}">{{ foo.name }}</option>
                                {% endfor %}
                            `
                            next.nextElementSibling.innerHTML = ""
                            next.nextElementSibling.innerHTML = t

                            if (select_col.previousElementSibling.value === "and") {
                                select_col.previousElementSibling.innerHTML = `
                                <option value="and" selected>And</option>
                                <option value="or">Or</option>
                                `
                            }
                            if (select_col.previousElementSibling.value === "or") {
                                select_col.previousElementSibling.innerHTML = `
                                <option value="and">And</option>
                                <option value="or" selected>Or</option>
                                `
                            }

                            if (select_col.nextElementSibling.value === "is") {
                                select_col.nextElementSibling.innerHTML = `
                                <option value="is" selected>is</option>
                                <option value="is_not">is not</option>
                                `
                            }

                            if (select_col.nextElementSibling.value === "is_not") {
                                select_col.nextElementSibling.innerHTML = `
                                <option value="is">is</option>
                                <option value="is_not" selected>is not</option>
                                `
                            }

                        }

                        if (select_col.value === "State") {
                            select_col.previousElementSibling.setAttribute('name', 'state_op')
                            select_col.setAttribute('name', 'state_col')
                            select_col.nextElementSibling.setAttribute('name', 'state_eql')
                            select_col.nextElementSibling.nextElementSibling.setAttribute('name', 'state_value')
                            select_col.innerHTML = `
                                <option value="Country" >Country</option>
                                <option value="State" selected>State</option>
                                <option value="City">City</option>
                                <option value="Email">Email</option>

                        `

                            {#select_col.previousElementSibling.innerHTML = `#}
                            {#     <option value="and">And</option>#}
                            {#     <option value="or">Or</option>#}
                            {#`#}
                            let next = select_col.nextElementSibling

                            {#next.innerHTML = `#}
                            {#     <option value="is">is</option>#}
                            {#     <option value="is_not">is not</option>#}
                            {#`#}

                            let t = ""
                            t += `
                                {% for foo in state %}
                                    <option value="{{ foo.name }}">{{ foo.name }}</option>
                                {% endfor %}
                            `
                            next.nextElementSibling.innerHTML = ""
                            next.nextElementSibling.innerHTML = t


                            if (select_col.previousElementSibling.value === "and") {
                                select_col.previousElementSibling.innerHTML = `
                                <option value="and" selected>And</option>
                                <option value="or">Or</option>
                                `
                            }
                            if (select_col.previousElementSibling.value === "or") {
                                select_col.previousElementSibling.innerHTML = `
                                <option value="and">And</option>
                                <option value="or" selected>Or</option>
                                `
                            }
                            if (select_col.nextElementSibling.value === "is") {
                                select_col.nextElementSibling.innerHTML = `
                                <option value="is" selected>is</option>
                                <option value="is_not">is not</option>
                                `
                            }
                            if (select_col.nextElementSibling.value === "is_not") {
                                select_col.nextElementSibling.innerHTML = `
                                <option value="is">is</option>
                                <option value="is_not" selected>is not</option>
                                `
                            }
                            //console.log(next.nextElementSibling.innerHTML)
                        }
                        if (select_col.value === "City") {
                            select_col.previousElementSibling.setAttribute('name', 'city_op')
                            select_col.setAttribute('name', 'city_col')
                            select_col.nextElementSibling.setAttribute('name', 'city_eql')
                            select_col.nextElementSibling.nextElementSibling.setAttribute('name', 'city_value')

                            select_col.innerHTML = `
                                <option value="Country" >Country</option>
                                <option value="State" >State</option>
                                <option value="City" selected>City</option>
                                <option value="Email">Email</option>

                        `

                            {#select_col.previousElementSibling.innerHTML = `#}
                            {#     <option value="and">And</option>#}
                            {#     <option value="or">Or</option>#}
                            {#`#}

                            let next = select_col.nextElementSibling
                            {#next.innerHTML = `#}
                            {#     <option value="is">is</option>#}
                            {#     <option value="is_not">is not</option>#}
                            {#`#}
                            let t = ""
                            t += `
                                {% for foo in city %}
                                    <option value="{{ foo.name }}">{{ foo.name }}</option>
                                {% endfor %}
                            `
                            next.nextElementSibling.innerHTML = ""
                            next.nextElementSibling.innerHTML = t

                            if (select_col.previousElementSibling.value === "and") {
                                select_col.previousElementSibling.innerHTML = `
                                <option value="and" selected>And</option>
                                <option value="or">Or</option>
                                `
                            }

                            if (select_col.previousElementSibling.value === "or") {
                                select_col.previousElementSibling.innerHTML = `
                                <option value="and">And</option>
                                <option value="or" selected>Or</option>
                                `
                            }
                            if (select_col.nextElementSibling.value === "is") {
                                select_col.nextElementSibling.innerHTML = `
                                <option value="is" selected>is</option>
                                <option value="is_not">is not</option>
                                `
                            }
                            if (select_col.nextElementSibling.value === "is_not") {
                                select_col.nextElementSibling.innerHTML = `
                                <option value="is" selected>is</option>
                                <option value="is_not" selected>is not</option>
                                `
                            }
                            //console.log(next.nextElementSibling.innerHTML)
                        }
                        if (select_col.value === "Email") {
                            select_col.previousElementSibling.setAttribute('name', 'email_op')
                            select_col.setAttribute('name', 'email_col')
                            select_col.nextElementSibling.setAttribute('name', 'email_eql')
                            select_col.nextElementSibling.nextElementSibling.setAttribute('name', 'email_value')

                            select_col.innerHTML = `
                                <option value="Country" >Country</option>
                                <option value="State" >State</option>
                                <option value="City" >City</option>
                                <option value="Email" selected>Email</option>

                        `
                            {#select_col.previousElementSibling.innerHTML = `#}
                            {#     <option value="and">And</option>#}
                            {#     <option value="or">Or</option>#}
                            {#`#}
                            {#console.log("country")#}
                            {#console.log(e)#}
                            let next = select_col.nextElementSibling

                            next.innerHTML = `
                                 <option value="are">are</option>
                                 <option value="are_not">are not</option>
                            `
                            let t = ""
                            t += `
                                {% for foo in recipients %}
                                    <option value="{{ foo.email_address }}">{{ foo.email_address }}</option>
                                {% endfor %}
                            `
                            next.nextElementSibling.innerHTML = ""
                            next.nextElementSibling.innerHTML = t
                            if (select_col.previousElementSibling.value === "and") {
                                select_col.previousElementSibling.innerHTML = `
                                <option value="and" selected>And</option>
                                <option value="or">Or</option>
                                `
                            }
                            if (select_col.previousElementSibling.value === "or") {
                                select_col.previousElementSibling.innerHTML = `
                                <option value="and">And</option>
                                <option value="or" selected>Or</option>
                                `
                            }
                        }
                    }
                })
                {#selectRefresh();#}
            }

            select_col();

            function update_(el) {
                const select1 = document.querySelectorAll('.select_col');
                const option1 = document.querySelector('.eql');
                select1.addEventListener('change', function () {
                    if (this.value === 'Country') {
                        option1.innerHTML = `<option value="is">are</option>
                    <option value="are_not">are not</option>`;
                        option1.setAttribute('value', 'newA');
                    } else {
                        option1.textContent = 'A';
                        option1.setAttribute('value', 'a');
                    }
                });
                {#selectRefresh();#}
            }

            function remove_div(btn) {
                ((btn.parentNode).parentNode).removeChild(btn.parentNode);
                {#selectRefresh();#}
            }

            function add_div() {
                let temp = ""
                temp += `
                <div class="row_ mt-5">
                    <select style="margin-left: 30px; width:120px; height: 30px;">
                        <option value="and">And</option>
                        <option value="or">Or</option>
                    </select>
                    <select class="select_col"  style="margin-left: 55px;width:120px; height: 30px;">

                        <option value="Country">Country</option>
                        <option value="State">State</option>
                        <option value="City">City</option>
                        <option value="Email">Email</option>
                    </select>
                    <select class="select_eql"  style="margin-left: 50px; margin-right: 50px;width: 115px; height: 30px;">
                        <option value="is">is</option>
                        <option value="is_not">is not</option>
                    </select>

                    <select class="js-example-basic-multiple" multiple="multiple"  style="width: 205px; height: 30px;" >
                        {% for foo in country %}
                            <option value="{{ foo.name }}">{{ foo.name }}</option>
                        {% endfor %}

                </select>
                <input type="button" id="" name="" style="margin-left: 50px;font-size:20px;" value="+"
                       onclick="add_div();">
                <input class="remove" type="button" id="" name="" style="margin-left: 50px;font-size:20px;" value="-"
                       onclick="remove_div(this);">
            </div>
                `
                let fm = document.getElementById('my_form')
                {#console.log(fm.innerHTML)#}
                fm.innerHTML += temp
                {#console.log("www")#}
                {#console.log(fm.innerHTML)#}
                {#selectRefresh();#}
                select_col();
                selectRefresh();
            }


            function selectRefresh() {
                $(document).ready(function () {
                    $('.js-example-basic-multiple').select2({
                        tags: true,
                        tokenSeparators: [',', ' ']
                    });
                });
            }

            $(document).ready(function () {
                selectRefresh();
            });
        </script>

    {% endblock %}

{% endblock %}

